<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/svg+xml" href="/vite.svg">
        <meta name="author" content="TransparentLC">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>萨莉亚随机点餐</title>
    </head>
    <body>
        <div v-scope>
            <h1 id="title" style="text-align:center;font-size:4rem">萨莉亚！<br>随机点餐</h1>

            <div v-show="!showResult" class="nes-container with-title" style="margin:2rem 0">
                <h2 class="title">设定</h2>
                <div class="nes-field is-inline" style="display:flex;margin-bottom:1rem">
                    <label class="nowrap" style="margin-bottom:0">预算</label>
                    <div class="nes-field is-inline" style="display:flex;flex-grow:1">
                        <input
                            v-model="budgetMin"
                            type="number"
                            class="nes-input is-error"
                            placeholder="下限"
                            min="1"
                        >
                        <span style="margin:0 .5rem">-</span>
                        <input
                            v-model="budgetMax"
                            type="number"
                            class="nes-input is-success"
                            placeholder="上限"
                            min="1"
                        >
                    </div>
                </div>
                <button
                    @click="autoSetBudget"
                    class="nes-btn"
                    style="display:block;width:100%;margin:1rem 0"
                >设定为平均的 +/- 20%</button>
                <div style="display:flex">
                    <span style="flex-grow:1">畅饮</span>
                    <label style="margin-left:1rem">
                        <input
                            v-model="drinkProbability" :value="1"
                            name="drink-probability"
                            type="radio" class="nes-radio"
                        ><span>点</span>
                    </label>
                    <label style="margin-left:1rem">
                        <input
                            v-model="drinkProbability" :value="0"
                            name="drink-probability"
                            type="radio" class="nes-radio"
                        ><span>不点</span>
                    </label>
                    <label style="margin-left:1rem">
                        <input
                            v-model="drinkProbability" :value=".5"
                            name="drink-probability"
                            type="radio" class="nes-radio"
                        ><span title="50%概率">随机</span>
                    </label>
                </div>
                <label>
                    <input v-model="drinkMix" type="checkbox" class="nes-checkbox">
                    <span>“自由搭配的乐趣！” <a href="https://saizeriya.oss-cn-guangzhou.aliyuncs.com/upload/portal/20230109/202301091654376284.jpg" target="_blank" rel="noreferrer noopener">(?)</a></span>
                </label>
                <details>
                    <summary class="nes-pointer">菜品筛选</summary>
                    <div class="col-1-2">
                        <div v-for="item in categoryFilter" style="display:flex">
                            <span style="flex-grow:1">{{ item.category }}</span>
                            <label style="margin-left:1rem">
                                <input
                                    v-model="item.enabled" :value="true"
                                    :name="`category-filter-${item.category}`"
                                    type="radio" class="nes-radio"
                                ><span>Yes</span>
                            </label>
                            <label style="margin-left:1rem">
                                <input
                                    v-model="item.enabled" :value="false"
                                    :name="`category-filter-${item.category}`"
                                    type="radio" class="nes-radio"
                                ><span>No</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-2">
                        <button
                            @click="categoryFilter.forEach(e => e.enabled = true)"
                            class="nes-btn"
                            style="display:block;width:100%;margin:0"
                        >全选</button>
                        <button
                            @click="categoryFilter.forEach(e => e.enabled = !e.enabled)"
                            class="nes-btn"
                            style="display:block;width:100%;margin:0"
                        >反选</button>
                    </div>
                    <hr>
                    <div class="nes-field">
                        <label>黑名单（不会出现在点餐结果中）</label>
                        <input
                            v-model="blacklistExpr"
                            type="text"
                            class="nes-input"
                            placeholder="输入以空格分隔的菜品编码"
                        >
                    </div>
                </details>
                <button
                    v-if="Math.min(budgetMin, budgetMax) > menuPriceTotal"
                    class="nes-btn is-primary"
                    disabled
                    style="display:block;width:100%;margin:1rem 0;margin-bottom:0"
                    :title="`设定的预算范围已经超过了所有菜品的价格（${menuPriceTotal}）`"
                >
                    吃这么多，你是幽幽子吗～<span class="nowrap">( ｡╹ω╹｡ )</span>
                </button>
                <button
                    v-else-if="budgetMin && budgetMax && Math.max(budgetMin, budgetMax) < menuPriceMin"
                    class="nes-btn is-primary"
                    disabled
                    style="display:block;width:100%;margin:1rem 0;margin-bottom:0"
                    :title="`设定的预算范围低于最便宜的菜品的价格（${menuPriceMin}）`"
                >
                    这么点钱能吃啥啊…<span class="nowrap">_φ(･ω･` )</span>
                </button>
                <button
                    v-else
                    @click="rollMenu"
                    class="nes-btn is-primary"
                    style="display:block;width:100%;margin:1rem 0;margin-bottom:0"
                >
                    Roll 一份菜单！
                </button>
            </div>

            <div v-show="showResult" style="margin:2rem 0">
                <div id="menu-result">
                    <h2 style="text-align:center">你点了 {{ result.length }} 份菜</h2>
                    <div
                        v-for="item in result"
                        :key="item.id"
                        class="nes-container is-rounded"
                        style="display:flex;align-items:center;margin:1rem 0"
                    >
                        <div style="flex-grow:1">
                            {{ item.id }} {{ item.name }}
                            <br>
                            <span class="nes-text is-success">{{ formatPrice(item.price) }}</span>
                            <span class="nes-text is-disabled">{{ item.category }}</span>
                        </div>
                        <picture style="width:30%;flex-shrink:0;margin-left:1rem">
                            <source
                                v-for="img in Object.entries(item.image)"
                                :type="img[0]"
                                :srcset="img[1]"
                            >
                            <img :src="item.image['image/jpeg']" style="width:100%;height:100%;object-fit:cover;border-radius:.25rem">
                        </picture>
                    </div>
                    <div style="margin:1rem 0">
                        <span v-if="result.find(e => e.id === 1888)">畅饮推荐：{{ drinkRecommendation }}<br></span>
                        总消费：<span class="nes-text is-success">{{ formatPrice(result.map(e => e.price).reduce((acc, cur) => acc += cur, 0)) }}</span>
                    </div>
                </div>
                <button
                    @click="rollMenu"
                    class="nes-btn is-success"
                    style="display:block;width:100%;margin:.5rem 0"
                >
                    再 Roll 一次！
                </button>
                <div class="col-1-2">
                    <button
                        @click="showResult = false"
                        class="nes-btn"
                        style="display:block;width:100%;margin:.5rem 0"
                    >
                        返回设定
                    </button>
                    <button
                        @click="saveMenu"
                        class="nes-btn is-warning"
                        style="display:block;width:100%;margin:.5rem 0"
                    >
                        截图分享
                    </button>
                </div>
            </div>

            <div id="footer" style="text-align:center;line-height:1.5rem">
                <small>
                    © 2023 ✨小透明・宸✨
                    <a id="source" href="https://github.com/TransparentLC/saizeriya" target="_blank" rel="noreferrer noopener">源代码</a>
                    <br>
                    菜式名称和图片的相关权利归<a href="https://gz-saizeriya.com.cn/" target="_blank" rel="noreferrer noopener">广州萨莉亚餐饮有限公司</a>所有，与本网页没有关联。
                </small>
            </div>

            <dialog id="dialog-image" class="nes-dialog is-rounded" style="text-align:center;line-height:1.5rem">
                <form method="dialog">
                    <img :src="resultImage" style="display:block;margin:0 auto;max-height:60vh">
                    <small>如果点击“保存”没有反应<br>请尝试长按/右键图片进行另存为操作(　ﾟ 3ﾟ)</small>
                    <menu style="padding:0;text-align:center">
                        <a :href="resultImage" download class="nes-btn is-primary">保存</a>
                        <button class="nes-btn">关闭</button>
                    </menu>
                </form>
            </dialog>
        </div>
        <script type="module" src="/src/main.js"></script>
    </body>
</html>
